---
- name: Install cert-manager and ClusterIssuers
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    kubeconfig: "{{ lookup('env','KUBECONFIG') | default('~/.kube/config', true) }}"

    cert_manager_namespace: cert-manager
    cert_manager_release: cert-manager
    cert_manager_chart_ref: jetstack/cert-manager
    cert_manager_chart_version: ""   # можно зафиксировать версию, если хочешь
    cert_manager_install_crds: true

    repo_name: jetstack
    repo_url: https://charts.jetstack.io

    issuers_dir: "{{ playbook_dir }}/../../../platform/cert-manager"

  tasks:
    - name: Ensure cert-manager namespace exists
      kubernetes.core.k8s:
        kubeconfig: "{{ kubeconfig }}"
        state: present
        definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: "{{ cert_manager_namespace }}"

    - name: Add jetstack helm repo (idempotent)
      kubernetes.core.helm_repository:
        name: "{{ repo_name }}"
        repo_url: "{{ repo_url }}"

    - name: Install/upgrade cert-manager via Helm
      kubernetes.core.helm:
        kubeconfig: "{{ kubeconfig }}"
        name: "{{ cert_manager_release }}"
        chart_ref: "{{ cert_manager_chart_ref }}"
        chart_version: "{{ cert_manager_chart_version | default(omit) }}"
        release_namespace: "{{ cert_manager_namespace }}"
        create_namespace: false
        wait: true
        atomic: true
        values:
          installCRDs: "{{ cert_manager_install_crds }}"

    - name: Wait for cert-manager deployments to be ready
      kubernetes.core.k8s_info:
        kubeconfig: "{{ kubeconfig }}"
        kind: Deployment
        namespace: "{{ cert_manager_namespace }}"
      register: cm_deploys

    - name: Assert cert-manager deployments exist
      ansible.builtin.assert:
        that:
          - cm_deploys.resources | length >= 1

    - name: Apply ClusterIssuer staging
      kubernetes.core.k8s:
        kubeconfig: "{{ kubeconfig }}"
        state: present
        src: "{{ issuers_dir }}/clusterissuer-staging.yaml"

    - name: Apply ClusterIssuer prod
      kubernetes.core.k8s:
        kubeconfig: "{{ kubeconfig }}"
        state: present
        src: "{{ issuers_dir }}/clusterissuer-prod.yaml"
