deploymentMode: SingleBinary

loki:
  auth_enabled: false

  commonConfig:
    replication_factor: 1
    ring:
      kvstore:
        store: inmemory

  server:
    http_listen_port: 3100
    
  memberlistConfig:
    join_members: []
    abort_if_cluster_join_fails: false

  ingester:
    lifecycler:
      ring:
        kvstore:
          store: inmemory
  distributor:
    ring:
      kvstore:
        store: inmemory
  storage:
    type: s3
    bucketNames:
      chunks: b796d0ff-ejara1
      ruler: b796d0ff-ejara1
      admin: b796d0ff-ejara1

  # TSDB + S3
  schemaConfig:
    configs:
      - from: "2024-01-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

  storage_config:
    aws:
      # важно: path-style
      endpoint: s3-nl.hostkey.com
      region: us-east-1
      s3forcepathstyle: true
      insecure: false

  limits_config:
    retention_period: 168h
    max_query_lookback: 168h
    allow_structured_metadata: true

  analytics:
    reporting_enabled: false

singleBinary:
  extraVolumes:
    - name: loki-data
      emptyDir: {}
  extraVolumeMounts:
    - name: loki-data
      mountPath: /var/loki
  replicas: 1

  # без PVC
  persistence:
    enabled: false

  # берём креды из k8s secret
  extraEnvFrom:
    - secretRef:
        name: loki-s3-creds

  extraArgs:
    - -config.expand-env=true

# выключаем simple scalable
read:
  replicas: 0
write:
  replicas: 0
backend:
  replicas: 0
simpleScalable:
  enabled: false

gateway:
  enabled: false

# helm test требует canary
lokiCanary:
  enabled: true

service:
  type: ClusterIP
  port: 3100

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    memory: 512Mi

chunksCache:
  enabled: false

resultsCache:
  enabled: false